// Change the base font of the document
//content__default

.theme-default-content
  font-family: Georgia;
  p
    margin-bottom: 15px;
  li
    border-left: 1px dotted #88c;
    padding-left: 4px;
    margin-bottom: 15px;

// Fix conflict between Bulma and default theme
// the sidebar-button toggle
.sidebar-button
  box-sizing: content-box
